/*edit of https://github.com/phallus/user-styles/tree/master/styles-clean*/

@namespace url(http://www.w3.org/1999/xhtml);

/* applies to:
@-moz-document url-prefix(http://ssl.reddit.com),
               url-prefix(http://www.reddit.com),
               url-prefix(http://www.np.reddit.com),
               url-prefix(http://np.reddit.com),
               url-prefix(http://en.reddit.com),
               url-prefix(http://pay.reddit.com),
               url-prefix(https://ssl.reddit.com),
               url-prefix(https://www.reddit.com),
               url-prefix(https://www.np.reddit.com),
               url-prefix(https://np.reddit.com),
               url-prefix(https://pay.reddit.com),
               url-prefix(https://en.reddit.com)
{
*/

/* things to hide */

body.with-listing-chooser .listing-chooser.initialized,
.goldvertisement,
#ad-frame,
.infobar.welcome,
a.helplink,
.trending-subreddits,
.sidecontentbox .content,
.users-online,
.titlebox .tagline,
.titlebox .age,
.titlebox form.flairtoggle,
.sidecontentbox .title h1,
.bottommenu,
#errorPageContainer,
#errorTitle,
#ad-frame,
#ad_main,
.titlebox h1,
.happening-now,
.happening-now-wrapper,
.happening-now-logo,
div#sponsorship > img,
a.discuss-ad,
.separator,
.global,
.dropdown.srdrop .selected,
.hover-bubble,
.link.promotedlink,
.organic-listing .link.promotedlink,
.organic-listing .promoted,
.expando-button,
.organic-listing .nextprev,
.organic-listing .help,
.sr-interest-bar .bubble p,
.next-suggestions,
.search-summary,
#header-img {
    display: none !important;
}
/* body */

body {
    width: 100% !important;
    left: 0% !important;
    right: 0% !important;
    background-attachment: fixed !important;
    background-color: #fff !important;
    font-family: Helvetica !important;
    font-size: 7pt !important;
    margin-left: 0 !important;
}
.content {
    margin-left: 0px !important;
}

/* Header + navigation
-------------------------
*/
/* turn the nav bar into a drop-down menu */

#header {
    background: transparent!important;
    border-bottom: none !important;
    height: 70px !important;
}
#sr-header-area {
    position: fixed !important;
    right: 0% !important;
    margin-right: 60px !important;
    width: 100px !important;
    top: -1000% !important;
    font-weight: normal !important;
    font-family: Helvetica !important;
    text-align: left !important;
    background: #fff !important;
    height: 200px !important;
    line-height: 12px !important;
    padding-top: 0px !important;
    border: 1px solid #888 !important;
    z-index: 1001 !important;
    border-radius: 1px !important;
    border-top-right-radius: 0px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    box-shadow: none !important;
    overflow: scroll !important;
}
#sr-header-area .flat-list li {
    display: block !important;
    overflow: scroll !important;
    padding-left: 2px !important;
}
#sr-header-area:active,
#sr-header-area:hover {
    top: 15px !important;
}
#sr-header-area:hover #sr-more-link:before {
    background: #888 !important;
    border-radius: 3px !important;
}
#sr-header-area .sr-list a[class="current"],
#sr-header-area .selected a {
    color: #888!important;
    font-weight: normal !important;
    text-shadow: none !important;
}
#sr-header-area a {
    color: #bbb !important;
    font-size: 9px !important;
    text-decoration: none !important;
    transition: 0.5s color ease;
    top: -2px !important;
}
#sr-header-area a:hover {
    color: #aaa !important;
    transition: 0.5s color ease;
}
.sr-bar .separator {
    color: #909090 !important
}
#sr-more-link {
    background: inherit!important;
    color: #FFF !important;
    font-weight: normal !important;
    text-align: center !important;
    position: fixed !important;
    right: -1000px !important;
    ;
    padding-top: 1px !important;
}
#sr-more-link:before {
    content: 'reddits' !important;
    text-align: center !important;
    background: transparent !important;
    position: fixed !important;
    top: 3px !important;
    right: 0% !important;
    padding: 16px !important;
    padding-top: 1px !important;
    padding-bottom: 0px !important;
    margin-right: 60px;
    text-transform: none !important;
    font-family: Helvetica !important;
    border-bottom-right-radius: 0px !important;
    opacity: 0;
}
#sr-more-link:hover:before,
#sr-header-area:hover #sr-more-link:before {
    color: #fff !important;
    opacity: 1 !important;
}
#sr-more-link:hover:before,
#sr-header-area:hover::after {
    color: #fff !important;
    border-radius: 3px !important;
}
.tabmenu {
    vertical-align: 0px !important;
    margin-left: 2px !important;
    width: 60% !important;
    left: 19%!important;
    right: 21%!important;
    text-align: center !important;
    top: 0px !important;
    margin-top: 2px !important;
    position: absolute !important;
    font-family: Helvetica !important;
    opacity: 0;
    height: 24px;
}
.tabmenu:hover {
    opacity: 1 !important;
}
.tabmenu li a {
    background: transparent !important;
    color: #909090 !important;
    font-size: 8pt !important;
    font-weight: 300 !important;
    padding: 0px 0px !important;
    transition: 0.5s color ease;
    border: 0px none !important;
    margin-left: -1px !important;
    font-family: Helvetica !important;
}
.tabmenu li a:hover {
    color: #3f3f3f !important;
    transition: 0.5s color ease;
}
.tabmenu li.selected a {
    color: #3f3f3f !important;
    background: transparent !important;
    border: 0px none !important;
}
ul.tabmenu.formtab {
    margin-top: -5px !important;
    width: 100% !important;
    left: 0% !important;
    margin-left: 0 !important;
    padding-left: 0 !important
}
#header-bottom-left {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
    height: 40px !important;
    padding-top: 5px !important;
    width: 100% !important;
}
#mail {
    margin-left: 3px !important;
    margin-right: 6px !important;
}
.user,
.pref-lang {
    margin-left: 0px !important;
    margin-right: 3px !important;
}
.logout {
    margin-left: 3px !important;
    margin-right: 0px !important;
}
.menuarea {
    width: 100% !important;
    left: 1% !important;
}
.menuarea .spacer {
    margin-left: 2% !important;
}
.menuarea a {
    margin-left: 4px !important;
    margin-right: 3px !important;
}
#header-bottom-right {
    margin-top: 10px !important;
    background: transparent !important;
    box-shadow: none !important;
    font-size: 8pt !important;
    font-weight: 300 !important;
    padding: 3px !important;
    width: 84% !important;
    left: 7% !important;
    right: 9% !important;
    text-align: center !important;
    position: relative !important;
    font-family: Helvetica Neue, sans-serif !important;
}
#header-bottom-right a {
    color: #909090 !important;
    transition: 0.5s color ease;
}
#header-bottom-right a:hover {
    color: #3f3f3f !important;
    text-decoration: none !important;
    transition: 0.5s color ease;
}
.user .userkarma {
    border: 0 !important;
    color: #646464;
    font-weight: 300 !important;
}
.pref-lang {
    font-weight: 300 !important;
}

/* page header */

.pagename {
    width: 84% !important;
    left: 7% !important;
    right: 9% !important;
    position: absolute;
    text-align: center !important;
    text-decoration: none !important;
    bottom: 0px !important;
    font: normal 24pt Helvetica !important;
    top: 4px !important;
    margin-top: 16px !important;
}
.pagename a {
    color: #444 !important;
    text-decoration: none !important;
    font: normal 24pt Helvetica, sans-serif !important;
}
.pagename a:hover {
    color: #444 !important;
    transition: 0.5s color ease;
}

/* sidebox */

.side {
    background: #FFF !important;
    box-shadow: none !important;
    border: 1px solid #888 !important;
    position: fixed !important;
    padding: 16px !important;
    float: right !important;
    width: 400px !important;
    height: auto !important;
    right: 0% !important;
    margin-right: 10px !important;
    top: -1000% !important;
    z-index: 1000 !important;
}
.side::before {
    content: 'sidebox';
    font-family: Helvetica !important;
    color: #bbb !important;
    text-align: center !important;
    background: transparent!important;
    position: fixed !important;
    top: 2px !important;
    right: 0% !important;
    margin-right: 10px !important;
    padding: 2px !important;
    padding-top: 1px !important;
    z-index: 5;
    opacity: 0;
}
.side:hover::before {
    color: #fff !important;
    background: #888 !important;
    border-radius: 3px !important;
    transition: 0.5s color ease;
    opacity: 1 !important;
}

.side:hover,
.hover-bubble:hover .side,
.hover-bubble:hover .side:hover {
    position: fixed !important;
    top: 14px !important;
}

.sidebox .subtitle {
    background: transparent !important;
}
.sidebox .spacer {
    position: relative;
    margin-top: 10px;
    padding: 5px 0px 0px 44px;
    min-height: 41px;
    background: transparent !important;
}
.side .usertext .md {
    min-height: 550px !important;
    overflow-x: hidden !important;
}
.side .md strong a {
    display: inline-block;
    position: relative;
    margin-top: 4px;
    margin-right: 4px;
    border: 0px solid black;
    font-size: 80%;
    padding: 1px;
    color: #f9f9f9;
    font-weight: bold;
    background: #95a5a6;
    min-width: 120px;
    text-align: center;
    border-radius: 0px;
    left: 6px;
    top: 10px;
}
.hover-bubble {
    z-index: 1001 !important;
    position: fixed !important;
    top: 130px !important;
    display: none !important;
}
.flairselector {
    z-index: 1001 !important;
    position: fixed !important;
    width: 155px !important;
    opacity: 1 !important;
    right: 4% !important;
    left: auto !important;
    top: 325px !important;
    font-family: Helvetica !important;
}
.flairselector li.selected {
    border: none !important;
    color: #444 !important;
    background: #ccc !important;
}
.titlebox {
    font-size: larger;
    text-align: center !important;
}
.sidebox a {
    color: #1a1a1a !important;
    font-weight: normal !important;
    text-decoration: none !important;
}
.md {
    max-width: 100% !important;
    font-size: 10pt !important;
    font-family: Helvetica, sans-serif !important;
    color: #646464 !important;
}
.panestack-title {
    width: 100% !important;
    text-align: center !important;
    margin-left: -4px !important;
    border-bottom: none!important;
}
.titlebox h1 {
    color: black !important;
    font-family: Helvetica, sans-serif !important;
    font-size: 10pt !important;
    text-align: center !important;
    width: 100% !important;
    position: absolute;
    top: 5px;
    left: 11px;
}
.titlebox h1 a {
    display: none !important;
}
.titlebox .md {
    display: block !important;
    overflow: scroll !important;
    max-height: 100px !important;
    padding: 3px !important;
    text-align: left !important;
    border: 1px solid #ddd !important;
    font-family: Helvetica !important;
}
.titlebox .bottom {
  border: none !important;   
}
.md h2 {
    font-size: 10px !important;
    font-family: Helvetica !important;
}
.morelink {
    text-align: center;
    font-size: 11px !important;
    font-weight: normal !important;
    line-height: 29px;
    letter-spacing: 0px !important;
    z-index: 5 !important;
}
.morelink a {
    margin-left: -6px !important;
}
.morelink .nub,
.morelink:hover .nub,
.mlhn {
    z-index: inherit !important;
}
.linkinfo {
  border-bottom: 0px none !important;
    text-align: center !important;
    border: 1px solid #eee!important;
    height: auto !important;
    padding: 5px 0px 0px 0px !important;
    width: 100% !important;
    color: #646464 !important;   
}
.linkinfo .date {
    font-family: Helvetica !important;
}
.linkinfo .score .word {
    font-family: Helvetica, sans-serif !important;
    font-size: 11pt !important;
    font-weight: bold;
    color: #1c1c1c !important;
}
.linkinfo .score .number {
    font-size: 11pt !important;
    font-weight: bold;
    font-family: Helvetica, sans-serif !important;
    color: #1c1c1c !important;
}
.linkinfo .upvotes,
.linkinfo .downvotes {
    font-family: Helvetica !important;
    font-size: 10pt !important;
    color: #646464 !important;
}
.linkinfo .shortlink input {
    border: 1px solid gray;
    padding: 3px 3px;
    width: 140px !important;
}
.morelink {
    display: none !important;
}
.sidebox.create {
    display: none !important;
}
.account-activity-box {
    display: none !important;
}
/* Content
-------------
*/
/* links */

.link {
    color: #777 !important;
    border: 1px solid #eee !important;
    min-height: 50px !important;
    padding: 12px 4px !important;
    position: relative !important;
    background: transparent !important;
    margin-bottom: -1px !important;
    width: 84% !important;
    right: 8% !important;
    left: 8% !important;
}
.link .rank {
    margin-left: 4px !important;
    margin-right: 2px !important;
}
.link .score {
    font-size: 10pt !important;
}
.link.promotedlink,
.organic-listing .link.promotedlink,
.organic-listing .promoted {
    display: none !important;
}
organic-listing,
.organic-listing .link {
    padding: 12px 0px !important;
    margin-bottom: -6px !important;
}
.organic-listing .sponsored-tagline {
    margin-right: -20px !important;
}
.link.last-clicked {
    color: #3f3f3f !important;
    background: #fcfcfc !important;
}
.link .title {
    font-weight: bold !important;
    margin-left: 0px !important;
}
.lk .thumbnail {
    margin-right: auto!important;
    width: auto !important;
}
.link .thumbnail img {
    border: none!important;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px !important;
    width: auto !important;
    margin-right: 3px !important;
    min-height: 50px !important;
}
.thing p.title {
    padding-bottom: 0px !important;
}
.thing .title.loggedin,
.thing.p.title a {
    color: #677996 !important;
    line-height: 14px !important;
    text-indent: 155px;
    text-shadow: none !important;
    transition: 0.5s ease all;
    font-size: 10pt !important;
}
.thing .title.loggedin:hover,
.link .title:hover {
    color: #444 !important;
    transition: 0.5s color ease;
}
.thing .title.loggedin:visited {
    box-shadow: none !important;
    color: #677996 !important;
}
.domain,
.domain a {
    font-family: Helvetica !important;
    font-weight: bold !important;
    font-size: 10pt !important;
    color: #bf7c83 !important;
    transition: 0.5s color ease;
}
.domain:hover,
.domain a:hover {
    color: #ae5a63 !important;
    text-decoration: none !important;
    transition: 0.5s color ease;
}
.tagline {
    margin-left: 10px !important;
    color: #888!important;
    font-size: 10pt !important;
    font-family: Helvetica, sans-serif !important;
    margin-top: 7px !important;
    opacity: .8;
}
.link .flat-list {
    margin-top: 3px !important;
    margin-left: 2px !important;
    font-size: 10pt !important;
}
.link .entry {
    display: inline-block !important;
    border: none !important;
    padding-bottom: 5px !important;
    margin-left: 5px !important;
    max-width: 60% !important;
}
.entry .buttons li a {
    color: #999 !important;
    font-size: 10pt !important;
    font-weight: normal !important;
    padding: 0 8px 3px !important;
    transition: 0.5s ease all;
    font-family: Helvetica !important;
}
.entry .buttons li a:hover {
    color: #1c1c1c !important;
    text-decoration: none !important;
    transition: 0.5s color ease;
}
.linkflairlabel {
    height: 10px !important;
    padding: 2px !important;
    padding-top: 0px !important;
    margin-bottom: -2px !important;
    background: transparent !important;
    border: none !important;
}
.flair,
.linkflairlabel {
    padding-top: 0px !important;
}
.title {
    color: #677996 !important;
    background: none !important;
    text-align: left;
    margin-left: 2px !important;
}
.title.click {
    color: #1c1c1c !important;
    background: none !important;
}
a.author {
    margin-right: 0.5em;
    font-weight: normal;
    color: #7b80a2 !important;
    transition: 0.5s color ease;
}
a.author:hover,
a .author:hover {
    color: #444 !important;
    text-decoration: none !important;
    transition: 0.5s color ease;
}
.tagline .submitter {
    color: #999;
}
/* spoilers */
a[href$="/spoiler"] {
  background: #000 !important;
  color: #000 !important;
  border: 1px solid black;
  padding-right: 1px !important;
  -moz-border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  border-radius: 4px !important;
}

a[href$="/spoiler"]:hover {
  background: #FFF !important;
    border: none !important;
}

/* comments */

.noncollapsed {
   margin-right: 4% !important;
   height: inherit !important;
}

.comment {
   width: 98% !important;
}

.commentarea {
   float: none !important;
   width: 84.5% !important;
   margin-right: 7% !important;
   margin-left: 8% !important;
   border: 1px solid #eee !important;
}

div.usertext, 
.usertext-edit textarea {
    width: 100% !important;
    max-width: 100% !important;
    font-family: Helvetica !important;
    font-size: 12pt !important;
    background: #fffff !important;
    border: 1px solid #eee !important;
}

.usertext button, 
.usertext a.reddiquette, 
.usertext .help-toggle {
   -moz-appearance: none !important;
   background: #b8bfcc !important;
   opacity: 0.65 !important;
   color: #fff !important;
   border: none !important;
   border-radius: 2px !important;
   padding: 2px !important;
   cursor: pointer !important;
   font-size: 12pt !important;
   font: Helvetica !important;
}

.commentarea .entry {
   max-width: 90% !important;
   display: inline !important;
}

.commentarea .entry .md {
   margin-left: 8px !important;
}

.commentarea ul.flat-list.buttons {
   margin-left: 11px !important;
}

.comment .author {
   font-weight: normal;
   color: #666 !important;
}

.usertext .bottom-area {
   width: 100% !important;
   margin-left: 0% !important;
   display: inline-block !important;
}

.usertext a.reddiquette, 
.usertext .help-toggle {
   margin-top: 5px !important;
   font-size: 12pt !important;
   padding: 3px !important;
}

.usertext .toggle .option, 
.usertext .toggle .option.active {
   color: #fff !important;
}

.usertext.grayed {
   background: #fff !important;
   margin-left: 10px !important;
}

.comment .child, 
.comment .showreplies {
   margin-left: 5px !important;
   border-left: 1px solid #eee !important;
}

.footer-parent {
   width: 100% !important;
   left: auto !important;
   margin-left: auto !important;
}

.comment .midcol {
   margin-top: 14px !important;
   padding-bottom: 4px !important;
   background: #fff !important;
}

/*
===============
Other pages
===============
*/
/* submitting a link */

.roundfield {
    background: #fbfbfb!important;
    -webkit-border-radius: 10px;
    border-radius: 10px !important;
    margin: 0 auto !important;
    border: 1px solid #909090 !important;
}
.roundfield textarea {
    width: 492px!important;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #3f3f3f !important;
    background: #fff !important;
    border-color: #c3c3c3 !important;
}
.roundfield .title {
    color: #3f3f3f !important;
}
.roundfield .content {
    background: #fff !important;
}
.textarea,
div .textarea {
    color: #3f3f3f !important;
    background: #fff !important;
    border: 1px solid #eee !important;
    font-size: 10px !important;
    font-family: Helvetica !important;
}
#link-desc.infobar {
    background-color: transparent !important;
    color: #646464 !important;
    border-color: #909090 !important;
    -webkit-border-radius: 0px;
    border-radius: 10px;
    border: none !important;
}
#newlink.submit.content {
    width: 58em !important;
    margin-right: auto !Important;
    margin-left: auto !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
#newlink.submit.content .spacer {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    text-align: center !important;
}
.formtabs-content {
    border-top: none !important;
    margin: 0 auto !important;
}
.tabmenu.formtab {
    margin-left: 6em !important;
}
.infobar {
    background: #f5f5f5 !important;
    border: #333 1px solid !important;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: none !important;
}
.subreddit.hover {
    margin-left: auto !important;
    border: none !important;
}
.subreddit {
    border: 1px solid #eee !important;
    padding: 4px !important;
    width: 82% !important;
    margin-left: 9% !important;
    margin-top: -11px !important;
}
.subreddit:hover {
    text-decoration: none !important;
    color: #404040 !important;
}
.subreddit:first-of-type {
    padding-top: 10px !important;
    margin-top: 0px !important;
}
.subreddit .usertext .md {
    margin-top: 5px !important;
}
#url {
    color: #3f3f3f !important;
    background: #fff !important;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-color: #c3c3c3 !important;
}
#sr-autocomplete {
    color: #3f3f3f !important;
    background: #fff !important;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-color: #c3c3c3 !important;
}
#newlink.submit.content .btn {
    margin-left: 0 !important;
    margin-top: 1em !important;
}
#text-desc.infobar {
    background: #f5f5f5 !important;
    color: #3f3f3f !important;
}
.nav-buttons {
    margin-top: 20px !important;
    margin-bottom: -20px !important;
    text-align: center !important;
}
.nextprev {
    text-align: center !important;
    font-size: 0pt !important;
}
.nextprev a {
    background: #b8bfcc !important;
    font-size: 10pt !important;
    opacity: 0.65 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 2px !important;
    padding: 2px !important;
    padding-top: 0px !important;
    cursor: pointer !important;
    margin-left: 4px !important;
}
/* reddits */

.sr-interest-bar {
    position: relative;
    background: transparent !important;
    overflow: hidden;
    border: none !important;
    margin-bottom: 5px;
    margin-left: 5px !important;
    padding-left: 0px !important;
    top: 10px !important;
    width: 98% !important;
}
.sr-interest-bar .query-box {
    position: relative;
    border: 1px solid #eee!important;
    height: auto !important;
    margin-top: -10px !important;
}
.sr-interest-bar .query-box:active,
.sr-interest-bar .query-box:hover {
    border: 1px solid #ccc !important;
}
.sr-interest-bar .query {
    font-size: 10px !important;
    margin: 0px;
    padding: 0px;
    outline: none !important;
    background: transparent !important;
    height: auto !important;
}
.sr-interest-bar ul.results {
    font-size: 11px !important;
}
.raisedbox h4 {
    display: none !important;
}

/* search */
#search input {
    width: 100% !important;
}
#search input[type=submit] {
    display: none !important;   
}
#searchexpando { 
    border-bottom: 0px none !important;
    text-align: center !important;
    border: 1px solid #eee!important;
    height: auto !important;
    padding: 5px 0px 0px 0px !important;
    width: 100% !important;
    color: #646464 !important;
}
#searchexpando input[type=checkbox], form input[type=radio] {
  width: auto !important; 
    height: auto !important;
}
.searchpane {
    float: none !important;
    width: 84.5% !important;
    margin-right: 7% !important;
    margin-left: 20% !important;
}
.combined-search-page #search {
  padding: 0px !important;  
}
.combined-search-page #search input[type=text] {
    width: 100% !important;  
} 
#previoussearch label {
  width: 10px !important;   
}
.search-result-group {
    max-width: 100% !important;
    min-width: 600px !important;
    padding-left: 30px;
    padding-right: 20px;
}
.search-result {
    color: #777 !important;
    border: 1px solid #eee !important;
    min-height: 50px !important;
    padding: 12px 4px !important;
    position: relative !important;
    background: transparent !important;
    margin-bottom: -1px !important;
    margin-top: 0px !important;
    width: 84.5% !important;
    margin-right: 7% !important;
    margin-left: 8% !important;
}
.search-result-group-header {
  position: relative !important;
    width: 85.2% !important;
    margin-right: 7% !important;
    margin-left: 8% !important;   
}
.raisedbox h4 {
    font-weight: normal !important;
    text-align: left !important;
    border: 1px solid #909090 !important;
}

.menuarea {
    border-bottom: 0px none !important;
    text-align: center !important;
    padding: 0px 0px 0px 0px !important;
    width: 100% !important;
    color: #646464 !important;
}
.dropdown.lightdrop .selected {
    text-decoration: none !important;
    color: #1a1a1a !important;
}
.selected,
.choice.primary {
    font-weight: normal !important;
    color: #af4a52 !important;
}
#sr-header-area .selected a {
    color: #af4a52 !important;
    font-weight: bold !important;
}
.link .usertext .md {
    border: none !important;
    background: transparent !important;
}
.sitetable {
    width: 100% !important;
    margin-right: -48px !important;
    padding-right: 0px !important;
}
#noresults,
.error {
    margin-left: 15px !important;
}

.archived-infobar {
    position: relative !important;
    width: 85.2% !important;
    margin-right: 7% !important;
    margin-left: 8% !important;
}
/* etc
---------
*/

h1 {
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0px;
    text-align: center !important;
}

.organic-listing {
    border: 0px none !important;
}
