/* Designed to work with tab auto-hide */


/* Hide sort and quick filter bar */

#qfb-qs-textbox {
  max-width: 300px !important;
  max-height: 27px !important;
}

#threadContentArea {
  margin-top: -35px !important;
}

#mail-toolbox {
  margin-top: -6px !important;
  visibility: hidden !important;
}

#quick-filter-bar-collapsible-buttons,
#qfb-sticky,
.textbox-search-icon,
.textbox-search-clear {
  display: none !important;
}

vbox#threadContentArea > tree#threadTree > treecols:first-child {
    height:0 !important;
    margin: -5px !important;
    padding: 0 !important;
    visibility: hidden !important;
}

/* Move email action buttons into quick filter space */

#expandedBoxSpacer {
  display: none !important;
}

#header-view-toolbox {
  position: fixed !important;
  top: 3px !important;
  padding-left: 5px !important;
}

/* header background fix */

#msgHeaderView {
  background-color: #FAFAFA !important;
}

/* Tab styling */

#tabs-toolbar {
  padding-right: 0px !important;

}

.tabmail-tabs {
  -moz-appearance: none !important;
  margin-left: 0px !important;
  margin-right: -5px !important;
  min-height: 0 !important;
  z-index: 1 !important;
}

.tabmail-tabs .tabmail-arrowscrollbox > scrollbox {
  padding: 0px !important;
}

.tabmail-tabs .tab-stack {
  height: 26px !important;  
  margin-right: 4px !important;  
}

.tabmail-tabs .tab-background {
  margin: 0px !important;
  background: transparent !important;
}

.tabmail-tabs .tab-background[selected=true] {
  background: Highlight !important;
}

.tabmail-tabs .tab-background-start,
.tabmail-tabs .tab-background-end {
  display: none !important;
}

.tabmail-tabs .tab-background-middle {
  margin: 0px !important;
  border-style: none !important;
  background: transparent !important;
}

.tabmail-tabs .tab-content {
  padding: 5px !important; 
  color: inherit !important;
}

.tabmail-tabs .tab-content[selected=true] {
  color: HighlightText !important;
}

/* remove separators on tabs */

.tabmail-tabs[movingtab] > .tabmail-tab[beforeselected]:not([last-visible-tab])::after,
.tabmail-tabs .tabmail-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
.tabmail-tabs:not([overflow]) > .tabmail-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after {
  display: none !important;
}


/* Hide favicons */

.tabmail-tabs .tab-throbber,
.tabmail-tabs .tab-icon-image {
  display: none !important;
}


/* Hide close button icon */

.tabmail-tabs .tab-close-button {
  display: none !important;
}


/* Padding on toolbars */

#tabs-toolbar {
  padding-bottom: 2px !important;
}

#messengerWindow #tabs-toolbar {
  padding-bottom: 1px !important;
}


/* Coloring on tabs */

#messengerWindow #tabs-toolbar:not(:-moz-lwtheme) {
  color: -moz-menubartext !important;
}

#messengerWindow .tabmail-tabs .tabmail-tab {
  margin-bottom: 0 !important;
  color: inherit !important;
}

#messengerWindow .tabmail-tabs .tab-text {
  border-style: none !important;
  color: inherit !important;
  opacity: 1 !important;
}

/* Fix pane splitter borders */

#folderpane_splitter {
  margin-top: -3px !important;
}
#threadpane-splitter {
  margin-top: -35px !important;
}
