configuration {
    show-icons: true;
}
 
* {
  background: rgba ( 40, 40, 40, 100 % );
  text-color: rgba ( 251, 241, 199, 100% );
  font:"Iosevka 50";
}
 
#window {
  children: [ horibox ];
  padding: 0;
  width: 27%;
  height: 100px;
  border-radius: 10px;
}
#horibox {
  children: [ listview ];
}
#listview {
  layout: horizontal;
  spacing: 55px;
  lines: 5;
}
#element.selected {
  background-color: rgba ( 204, 36, 29, 100% );
  text-color: rgba ( 189, 174, 147, 100% );
}
