@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* remove internal border */
#main-window:not([chromehidden*="toolbar"])[sizemode="normal"]
{
    margin-top:-1px!important;
    margin-left:-1px!important;
    margin-right:-1px!important;
    margin-bottom: -1px !important;
 }

#TabsToolbar:not(:-moz-lwtheme)::after {display: none;}
#PanelUI-button { display: none !important;}

/* TABS */
.tabbrowser-tabs:not([drag=detach]) > .tabbrowser-tab:not([pinned])[fadein] {
    min-width: 10px !important;
    max-width: 200px !important;
}

#TabsToolbar .tabbrowser-tab:not([selected]) {
    color: rgba(255,255,255,0.9); 
}

#TabsToolbar {
    background: transparent !important;
}

#TabsToolbar .tabbrowser-tabs {
    min-height: 25px !important;
    margin-top: 0px !important;
    margin-bottom: -1px !important;
    text-align: center !important;
    margin-left: -17px !important;
    margin-right: -16px !important;t;
}

#tabbrowser-tabs tab .tab-close-button, .tabbrowser-tab:not([pinned]) .tab-icon-image {
    display: none !important;
}

#TabsToolbar .tabbrowser-tab {
    -moz-border-top-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    border-style:  solid !important;
    border-width: 0px 0px 0px 0px !important;
    text-shadow: 0 0 4px rgba(80,80,80,.2) !important;
    padding: 4px 0px !important;
    border-radius: 0px !important;
    background: rgba(240,240,240,1) !important;
    background-clip: padding-box !important;
    transition: all .1s !important;
    margin-left: 0px !important;
    color: rgb(120,120,120) !important;
    font-family: 'Droid Sans' !important;
    font-size: 13px !important;
    border-color: #C8C8C8 !important;
}

#TabsToolbar .tabbrowser-tab[last-visible-tab] {
    border-top-right-radius: 2px !important;
    border-right-width: 0px !important;
    margin-right: 1px !important;
    border-right-color: rgba(0,0,0,0) !important;
}

#TabsToolbar .tabbrowser-tab[first-visible-tab] {
    border-top-left-radius: 2px !important;
    border-left-width: 0px !important;
    margin-left: 2px !important;
    border-left-color: rgba(0,0,0,0) !important;
}

#TabsToolbar .tabbrowser-tab[selected] {
    color: rgba(90,90,90,1) !important;
    background: rgba(250,250,250,1) !important; 
    margin-bottom: 2px !important;
    padding: 0px 0px !important;
}

#TabsToolbar .tabs-newtab-button:hover,
#TabsToolbar .tabbrowser-tab:hover:not([selected]) {
    border-color: rgba(0,0,0,0) !important;
    background-color: rgba(255,255,255,1) !important;
}

#TabsToolbar .tab-background {
    margin: 0 !important;
    background: transparent !important;
}

#TabsToolbar .tab-background-start,
#TabsToolbar .tab-background-end,
#TabsToolbar .tabbrowser-tab:after,
#TabsToolbar .tabbrowser-tab:before {
    display: none !important;
}

#TabsToolbar .tab-background-middle {
    margin: -4px -2px !important;
    background: transparent !important;
}

#TabsToolbar .tabs-newtab-button {
    border-width: 1px 1px 0 1px !important;
    margin: 0 !important;
    width: auto !important;
    padding: 0 5px !important;
}

.subviewbutton.panel-subview-footer {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.scrollbutton-up, .scrollbutton-down, #alltabs-button {
    display: none !important;
}

/* URL BAR */
#PanelUI-button, #bookmarks-menu-button, #downloads-button, #home-button, #stylish-toolbar-button, #abp-toolbarbutton,
#back-button, #forward-button, #identity-box, #urlbar-reload-button, #urlbar-stop-button, #urlbar-go-button,
#notification-popup-box, #new-tab-button, #private-browsing-indicator, #search-container, #nav-bar-overflow-button,
.tabs-newtab-button, .tab-close-button, .tab-close, .tab-throbber, .tab-background-start, .tab-background-end,
#window-controls { 
    display: none !important; 
}
    
.tab-drop-indicator { 
    margin-bottom: 0 !important; 
}

/*position absolute = top, fixed = bottom of browser*/
#nav-bar {
    position: absolute !important; bottom: 0 !important;
    width: 100% !important; height: 18px !important;
    min-height: 20px !important; max-height: 20px !important;
    margin: 0 0 0 0 !important;

}

#nav-bar-customization-target { 
    width: 100% !important; 
}

#urlbar-wrapper {
    width: 100% !important; 
    margin-top: 0px !important;
    position: absolute !important; 
    top: -1px !important; 
    left: 0 !important;
    border-bottom: 0px solid  #EAF2FA !important;
}

#urlbar {
    border: none !important; 
    border-radius: 0 !important;
    margin: 0 0 0 0 !important; 
    padding: 0 2px 0 9px !important;
    width: calc(100% + 5px) !important;
    border: 1px solid rgb(230,230,230) !important;
    height: 20px !important;
    min-height: 20px !important;
    background: rgba(255,255,255,1) !important; 
    color: rgb(130,130,130) !important;
    font-family: Droid Sans !important; 
    font-size: 10px !important;
    text-align: center !important;
}
#urlbar * { 
    -moz-appearance: none !important; 
}

#toolbarbutton-icon .Downloads,
#downloads-indicator-icon,
#downloads-indicator-progress-area,
#downloads-button .button-text {
    display: none !important;
}

/* ABOUT:BLANK */
@-moz-document url(about:blank) {
    html,body { background: #1f1f1f !important; }
}

tabbrowser tabpanels, #appcontent > #content { 
    background: #1f1f1f !important; 
}


