/*edit of https://github.com/phallus/user-styles/tree/master/styles-clean*/
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix(http://ssl.reddit.com),
               url-prefix(http://www.reddit.com),
               url-prefix(http://www.np.reddit.com),
               url-prefix(http://np.reddit.com),
               url-prefix(http://pay.reddit.com),
               url-prefix(https://ssl.reddit.com),
               url-prefix(https://www.reddit.com),
               url-prefix(https://www.np.reddit.com),
               url-prefix(https://np.reddit.com),
               url-prefix(https://pay.reddit.com)
{
   
/* more link */
#sr-more-link {
height: 0;
background: transparent !important;
box-shadow: none !important;
border: none !important;
margin-top: 0px !important;
cursor: pointer !important;
margin-right: -40px !important;
}
    
#sr-more-link:before {
content: "" !important;
color: #34345C !important;
margin-left: 2px !important;
margin-right: 10px !important;
margin-top: 0px !important;
}
    
/* nav bar */
#header {
    background: transparent!important;
    border-bottom: none !important;
    height: 70px !important;
}
#sr-header-area {
    background: transparent !important;  
    border-bottom: none !important;
    text-transform: none !important;
    font-family: Droid Sans !important;
    font-size: 8pt !important;
    font-weight: bold !important;
    margin-left: -100px !important;
}
.sr-list {
    margin-left: -115px !important;
}
    
#srLeftContainer.sr-bar {
    display: none !important;
}

.dropdown.srdrop {
    display: none !important;
}
.sr-bar a {
    color: #c5c5c5 !important; 
}
.subbarlink.RESShortcutsCurrentSub {
    color: #af4a52 !important;
    font-weight: bold !important;  
}

#header-img {
    display: none !important

}
.tabmenu {
    vertical-align: 0px !important;
    margin-left: 2px !important;
    width: 60% !important;
    left:19%!important;
    right:21%!important;
    text-align: center !important;
    top: 50px !important;
    margin-top: 2px !important;
    position: absolute !important;
    font-family: Droid Sans !important;
    opacity: 0;
    height: 24px;
}

.tabmenu:hover {
    opacity: 1 !important;
}

.tabmenu li a {
    background: transparent !important;
    color: #909090 !important;
    font-size: 10pt !important;
    font-weight: 300 !important;
    padding: 0px 0px !important;
    transition: 0.5s color ease;
    border: 0px none !important;
    margin-left: -1px !important;
    font-family: Droid Sans !important;
}

.tabmenu li a:hover {
    color: #3f3f3f !important;
    transition: 0.5s color ease;
}

.tabmenu li.selected a {
    color: #3f3f3f !important;
    background: transparent !important;
    border: 0px none !important;
}
        
ul.tabmenu.formtab {
    margin-top: -5px !important;
    width: 100% !important;
    left: 0% !important;
    margin-left: 0 !important;
    padding-left: 0 !important
}

#header-bottom-left {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
    height: 40px !important;
    padding-top: 5px !important;
    width: 100% !important;
}

#mail {
    margin-left: 3px !important;
    margin-right: 6px !important;
}

.user,.pref-lang {
    margin-left: 0px !important;
    margin-right: 3px !important;
}

.logout {
    margin-left: 3px !important;
    margin-right: 0px !important;
}

.menuarea {
    width: 100% !important;
    left: 1% !important;
}

.menuarea .spacer {
    margin-left: 2% !important;
}

.menuarea a {
    margin-left: 4px !important;
    margin-right: 3px !important;
}

#header-bottom-right {
    margin-top: 10px !important;
    background: transparent !important;
    box-shadow: none !important;
    font-size: 10pt !important;
    font-weight: 300 !important;
    padding: 3px !important;
    width: 84% !important;
    left: 7% !important;
    right: 9% !important;
    text-align: center !important;
    position: relative !important;
    font-family: Droid Sans, sans-serif !important;
}

#header-bottom-right a {
    color: #909090 !important;
    transition: 0.5s color ease;
}

#header-bottom-right a:hover {
    color: #3f3f3f !important;
    text-decoration: none !important;
    transition: 0.5s color ease;
}
    
.user .userkarma {
    border: 0 !important;
    color: #646464;
    font-weight: 300 !important;
}

.pref-lang {
    font-weight: 300 !important;
}
/* body */

body {
    width: 100% !important;
    left: 0% !important;
    right: 0% !important;
    background-attachment: fixed !important;
    background-color: #fff !important;
    font-family: Droid Sans !important;
    font-size: 12pt !important;
    margin-left: 0% !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content {
    margin-left: 0px !important;
    width: 99% !important;
    left: auto !important;
}

/* Header + navigation
-------------------------
*/

.trending-subreddits {
        display:none !important;
    }


/* page header */

.pagename {
    left: 0px !important;
    width: 84% !important;
    left:7% !important;
    right: 9% !important;
    position: absolute;
    text-align: center !important;
    text-decoration: none !important;
    bottom: 0px !important;
    font: normal 24pt Droid Sans !important;
    top: 4px !important;
    margin-top: 16px !important;
}

.pagename a {
    color: #444 !important;
    text-decoration: none !important;
    font: normal 24pt Droid Sans, sans-serif !important;
}

.pagename a:hover {
    color: #444 !important;
    transition: 0.5s color ease;
}


/* sidebox
-------------
*/

.side {
/*display: none !important;*/
    
background: #FFF !important;
box-shadow: none !important;
border: 1px solid #888 !important;
position: fixed !important;
padding: 16px !important;
float: right !important;
width: 400px !important;
height: 600px !important;
right: 0% !important;
margin-right: 10px !important;
top: -1000% !important;
z-index: 1000 !important;
}

.side::before {
    content: '';
    font-family: Droid Sans !important;
    color: #bbb !important;
    text-align: center !important;
    background: transparent!important;
    position: fixed !important;
    top: 2px !important;
    right: 0% !important;
    margin-right: 10px !important;
    padding: 2px !important;
    padding-top: 1px !important;
    z-index: 5;
    opacity: 0;
}

.side:hover::before {
    color: #fff !important;
    background: #888 !important;
    border-radius: 3px !important;
    transition: 0.5s color ease;
    opacity: 1 !important;
}

.side:hover, .hover-bubble:hover .side, .hover-bubble:hover .side:hover {
    position: fixed !important;
    top: 14px !important;
}

.sidebox .subtitle {
    background: transparent !important;
}

.sidebox .spacer {
    position: relative;
    margin-top: 10px;
    padding: 5px 0px 0px 44px;
    min-height: 41px;
    background: transparent !important;
}
    
.side .usertext .md{
    min-height: 550px !important;
    overflow-x: hidden !important;
}

.hover-bubble {
    z-index: 1001 !important;
    position: fixed !important;
    top: 130px !important;
    display: none !important;
}

.flairselector {
    z-index: 1001 !important;
    position: fixed !important;
    width: 155px !important;
    opacity: 1 !important;
    right: 4% !important;
    left: auto !important;
    top: 325px !important;
    font-family: Droid Sans !important;
}

.flairselector li.selected {
    border: none !important;
    color: #444 !important;
    background: #ccc !important;
}
    

.titlebox {
    font-size: larger;
    text-align: center !important;
}

.sidebox a {
    color: #1a1a1a !important;
    font-weight: normal !important;
    text-decoration: none !important;
}

.md {
    max-width: 100% !important;
    font-size: 10pt !important;
    font-family: Droid Sans, sans-serif !important;
    color: #646464 !important;
}

.panestack-title {
    width: 100% !important;
    text-align: center !important;
    margin-left: -4px !important;
    border-bottom: none!important;
}

.titlebox h1 {
    color: black !important;
    font-family: Droid Sans, sans-serif !important;
    font-size: 10pt !important;
    text-align: center !important;
    width: 100% !important;
    position: absolute;
    top: 5px;
    left: 11px;
}

.titlebox h1 a {
    display: none !important;
}

.titlebox .md {
    display: block !important;
    overflow: scroll !important;
    max-height: 100px !important;
    padding: 3px !important;
    text-align: left !important;
    border: 1px solid #ddd !important;
    font-family: Droid Sans !important;
}

.md h2 {
    font-size: 10px !important;
    font-family: Droid Sans !important;
}

.morelink {
    text-align: center;
    font-size: 11px !important;
    font-weight: normal !important;
    line-height: 29px;
    letter-spacing: 0px !important;
    z-index: 5 !important;
}

.morelink a {
    margin-left: -6px !important;
}

.morelink .nub, .morelink:hover .nub, .mlhn {
    z-index: inherit !important;
}

.linkinfo {
    padding: 5px;
    border: 1px solid rgb(95, 153, 207);
    background-color: #f5f5f5 !important;
    color: #3f3f3f;
    font-size: 10pt !important;
    border-radius: 3px 3px 3px 3px;
    text-align: center !important;
}

.linkinfo .date {
    font-family: Droid Sans !important;
}

.linkinfo .score .word {
    font-family: Droid Sans, sans-serif !important;
    font-size: 11pt !important;
    font-weight: bold;
    color: #1c1c1c !important;
}

.linkinfo .score .number {
    font-size: 11pt !important;
    font-weight: bold;
    font-family: Droid Sans, sans-serif !important;
    color: #1c1c1c !important;
}

.linkinfo .upvotes, .linkinfo .downvotes {
    font-family: Droid Sans !important;
    font-size: 10pt !important;
    color: #646464 !important;
}


.linkinfo .shortlink input {
    border: 1px solid gray;
    padding: 3px 3px;
    width: 140px !important;
}
    
.morelink {
    display: none !important;
}

.sidebox.create {
    display: none !important;
}
.account-activity-box {
    display: none !important;
    
}



/* Content
-------------
*/

/* links */

.link {
    color: #777 !important;
    border: 1px solid #eee !important;
    min-height: 50px !important;
    padding: 12px 4px !important;
    position: relative !important;
    background: transparent !important;
    margin-bottom: -1px !important;
    width: 84% !important;
    right: 8% !important;
    left: 8% !important;
}

.link .rank {
    margin-left: 4px !important;
    margin-right: 2px !important;
}

.link .score {
    font-size: 10pt !important;
}

.link.promotedlink, .organic-listing .link.promotedlink,.organic-listing .promoted {
    display: none !important;
}

organic-listing, .organic-listing .link{
    padding: 12px 0px !important;
    margin-bottom: -6px !important;
}

.organic-listing .sponsored-tagline {
    margin-right: -20px !important;
}

.link.last-clicked {
    color: #3f3f3f !important;
    background: #fcfcfc !important;
}

.link .title {
    font-weight: bold !important;
    margin-left: 0px !important;
}

.lk .thumbnail {
    margin-right: auto!important;
    width: auto !important;
}

.link .thumbnail img {
    border: none!important;
    box-shadow: rgba(0,0,0,0.2) 0 0 8px !important;
    width: auto !important;
    margin-right: 3px !important;
    min-height: 50px !important;
}

.thing p.title {
    padding-bottom: 0px !important;
}

.thing .title.loggedin, .thing.p.title a {
    color: #677996 !important;
    line-height: 14px !important;
    text-indent: 155px;
    text-shadow: none !important;
    transition: 0.5s ease all;
    font-size: 10pt !important;
}
 
.thing .title.loggedin:hover, .link .title:hover {
    color: #444 !important;
    transition: 0.5s color ease;
}

.thing .title.loggedin:visited {
    box-shadow: none !important;
    color: #677996 !important;
}

.domain, .domain a {
    font-family: Droid Sans !important;
    font-weight: bold !important;
    font-size: 10pt !important;
    color: #bf7c83 !important;
    transition: 0.5s color ease;
}

.domain:hover, .domain a:hover {
    color: #ae5a63 !important;
    text-decoration: none !important;
    transition: 0.5s color ease;
}
  
.tagline {
    margin-left: 10px !important;
    color: #888!important;
    font-size: 10pt !important;
    font-family: Droid Sans, sans-serif !important;
    margin-top: 7px !important;
    opacity: .8;
}

.link .flat-list {
    margin-top: 3px !important;
    margin-left: 2px !important;
    font-size: 10pt !important;
}

.link .entry {
    display: inline-block !important;
    border: none !important;
    padding-bottom: 5px !important;
    margin-left: 5px !important;
    max-width: 60% !important;
}

.entry .buttons li a {
    color: #999 !important;
    font-size: 10pt !important;
    font-weight: normal !important;
    padding: 0 8px 3px !important;
    transition: 0.5s ease all;
    font-family: Droid Sans !important;
}

.entry .buttons li a:hover {
    color: #1c1c1c !important;
    text-decoration: none !important;
    transition: 0.5s color ease;
}
            
.linkflairlabel {
    height: 10px !important;
    padding: 2px !important;
    padding-top: 0px !important;
    margin-bottom: -2px !important;
    background: transparent !important;
    border: none !important;
}

.flair, .linkflairlabel {
    padding-top: 0px !important;
}
            
.expando-button {
    display: none !important
}

.organic-listing .nextprev, .organic-listing .help {
    display: none !important;
}

.title {
    color: #677996 !important;
    background: none !important;
    text-align: left;
    margin-left: 2px !important;
}

.title.click {
    color: #1c1c1c !important;
    background: none !important;
}

a.author {
    margin-right: 0.5em;
    font-weight: normal;
    color: #7b80a2 !important;
    transition: 0.5s color ease;
}

a.author:hover, a .author:hover {
    color: #444 !important;
    text-decoration: none !important;
    transition: 0.5s color ease;
}

.tagline .submitter {
    color: #999;
}

/* comments */

.noncollapsed {
    margin-right: 4% !important;
    height: inherit !important;
}

.comment {
    width: 98% !important;
}

.commentarea {
    float: none !important;
    width: 84.4% !important;
    margin-right: 7% !important;
    margin-left: 8% !important;
    border: 1px solid #eee !important;
}

div.usertext, .usertext-edit textarea {
    width: 100% !important;
    max-width: 100% !important;
    font-family: Droid Sans !important;
    font-size: 12pt !important;
}

.usertext button, .usertext a.reddiquette, .usertext .help-toggle {
    -moz-appearance: none !important;
    background: #b8bfcc !important;
    opacity: 0.65 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 2px !important;
    padding: 2px !important;
    cursor: pointer !important;
    margin-left: 22px !important;
}

.commentarea .entry {
    max-width: 90% !important;
    height: inherit !important;
    display: inline !important;
}

.commentarea .entry .md {
    margin-left: 8px !important;
}

.commentarea ul.flat-list.buttons {
    margin-left: 11px !important;
}

.comment .author {
    font-weight: normal;
    color: #666 !important;
}

.usertext .bottom-area {
    width: 100% !important;
    margin-left: 0% !important;
    display: inline-block !important;
}

.usertext a.reddiquette, .usertext .help-toggle {
    margin-top: 5px !important;
    font-size: 12pt !important;
    padding: 3px !important;
}

.usertext .toggle .option, .usertext .toggle .option.active {
    color: #fff !important;
}

.usertext.grayed {
    background: #fff !important;
    margin-left: 10px !important;
}

.comment .child, .comment .showreplies {
    margin-left: 5px !important;
    border-left: 1px solid #eee !important;
}

.footer-parent {
    width: 100% !important;
    left: auto !important;
    margin-left: auto !important;
}

.comment .midcol {
    margin-top: 14px !important;
    padding-bottom: 4px !important;
    background: #fff !important;
}

/*
===============
Other pages
===============
*/


/* submitting a link */

.roundfield {
    background: #fbfbfb!important;
    -webkit-border-radius: 10px;
    border-radius: 10px !important;
    margin: 0 auto !important;
    border: 1px solid #909090 !important;
}

.roundfield textarea {
    width:492px!important;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #3f3f3f !important;
    background: #fff !important;
    border-color: #c3c3c3 !important;
}

.roundfield .title {
    color: #3f3f3f !important;
}

.roundfield .content {
    background: #fff !important;
}

.textarea, div .textarea {
    color: #3f3f3f !important;
    background: #fff !important;
    border: 1px solid #eee !important;
    font-size: 10px !important;
    font-family: Droid Sans !important;
}

#link-desc.infobar {
    background-color: transparent !important;
    color: #646464 !important;
    border-color: #909090 !important;
    -webkit-border-radius: 0px;
    border-radius: 10px;
    border:none !important;
}

#newlink.submit.content {
    width:58em !important;
    margin-right:auto !Important;
    margin-left:auto !important;
    box-shadow:none !important;
    -webkit-box-shadow:none !important;

}

#newlink.submit.content .spacer {
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
    text-align: center !important;

}

.formtabs-content {
    border-top:none !important;
    margin:0 auto !important;
}

.tabmenu.formtab {
    margin-left:6em !important;
}

.infobar {
    background: #f5f5f5 !important;
    border: #333 1px solid !important;
    -webkit-border-radius:10px;
    border-radius:10px;
}

.subreddit.hover {
    margin-left: auto !important;
    border: none !important;
}

.subreddit {
    border: 1px solid #eee !important;
    padding: 4px !important;
    width: 82% !important;
    margin-left: 9% !important;
    margin-top: -11px !important;
}

.subreddit:hover {
    text-decoration: none !important;
    color: #404040 !important;
}
.subreddit:first-of-type {
    padding-top: 10px !important;
    margin-top: 0px !important;
}

.subreddit .usertext .md {
    margin-top: 5px !important;
}

#url {
    color: #3f3f3f !important;
    background: #fff !important;
    -webkit-border-radius:5px;
    border-radius:5px;
    border-color: #c3c3c3 !important;
}

#sr-autocomplete {
    color: #3f3f3f !important;
    background: #fff !important;
    -webkit-border-radius:5px;
    border-radius: 5px;
    border-color: #c3c3c3 !important;
}

#newlink.submit.content .btn {
    margin-left:0 !important;
    margin-top:1em !important;
}

#text-desc.infobar {
    background: #f5f5f5 !important;
    color: #3f3f3f !important;
}

.nav-buttons {
    margin-top: 20px !important;
    margin-bottom: -20px !important;
    text-align: center !important;
}

.nextprev {
    text-align: center !important;
}

.nextprev a {
    background: #b8bfcc !important;
    font-size: 10pt !important;
    opacity: 0.65 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 2px !important;
    padding: 2px !important;
    padding-top: 0px !important;
    cursor: pointer !important;
    margin-left: 4px !important;
}

/* reddits */

.sr-interest-bar {
    position: relative;
    background: none !important;
    overflow: hidden;
    border: none !important;
    margin-bottom: 5px;
    margin-left: 5px !important;
    padding-left:0px !important;
    background: transparent !important;
    top: 10px !important;
    width: 98% !important;
}

.sr-interest-bar .bubble p {
    display: none !important;
}

.sr-interest-bar .query-box {
    position: relative;
    border: 1px solid #eee!important;
    height: auto !important;
    margin-top: -10px !important;
}

.sr-interest-bar .query-box:active, .sr-interest-bar .query-box:hover {
    border: 1px solid #ccc !important;
}

.sr-interest-bar .query {
    font-size: 10px !important;
    margin: 0px;
    padding: 0px;
    outline: none !important;
    background: transparent !important;
    height: auto !important;
}

.sr-interest-bar ul.results {
    font-size: 11px !important;
}
    
.searchpane {
    display: none !important;
    background: none !important;
    position: relative !important;
    border: none !important;
    width: 45% !important;
}

.raisedbox h4 {
    font-weight: normal !important;
    text-align: left !important;
    border: 1px solid #909090 !important;
}

.infobar {
    display: none !important;
}

.menuarea {
    border-bottom: 0px none !important;
    text-align: center !important;
    padding: 0px 0px 0px 0px !important;
    width: 100% !important;
    color: #646464 !important;
}

.dropdown.lightdrop .selected {
    text-decoration: none !important;
    color: #1a1a1a !important;
}

.selected, .choice.primary {
    font-weight: normal !important;
    color: #af4a52 !important;
}
#sr-header-area .selected a {
    color: #af4a52 !important;
    font-weight: bold !important;
}

.link .usertext .md {
    border: none !important;
    background: transparent !important;
}

.sitetable {
    width: 100% !important;
    margin-right: -48px !important;
    padding-right: 0px !important;
}

#noresults, .error {
    margin-left: 15px !important;
}

/* etc
---------
*/

h1 {
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0px;
    text-align: center !important;
}



div.contents,
body.with-listing-chooser .listing-chooser.initialized,
#search input,
.goldvertisement,
#ad-frame,
.infobar.welcome,
a.helplink,
.sidecontentbox .content,
.users-online,
.titlebox .tagline,
.titlebox .age,
.titlebox .bottom,
.titlebox form.flairtoggle,
.sidecontentbox .title h1,
.bottommenu,
#errorPageContainer, #errorTitle, #ad-frame, #ad_main,
.titlebox h1 {
    display: none !important;
}

.organic-listing {
    border: 0px none !important;
}

}



