/* search */
@media (-moz-bool-pref: "uc.tweak.popup-search") {
  #urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused]) {

    transition: margin-top 0.45s cubic-bezier(0.075, 0.82, 0.165, 1) !important;

    #urlbar-input {
      font-size: 16px !important;
      text-align: left !important;
    }
    #urlbar-input-container {
      height: auto !important;
      padding-block: var(--urlbar-block-padding) !important;
      padding-inline: var(--urlbar-inline-padding) !important;
    }
    #urlbar-go-button {
      margin: auto !important;
    }
    
    z-index: 1;
    position: fixed !important;
    padding-block: 12px!important;
    --urlbar-height: auto !important;
    bottom: auto !important;
    top: 20vh !important;
    padding-left: 6px !important;
    padding-right: 8px !important;
    background-color: #toolbar-bgcolor !important;
    
    left: 18vw !important;
    right: 18vw !important;
    width: 64vw !important;
    
    & .urlbarView-results {
      margin-top: 12px !important;
      padding-block-start: 0px !important;
    }    

  }

  /* background */
  #nav-bar:has(#urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused])){
    /* created as :after so that elements to the right of 
       urlbar will be covered properly */
    &:after {
      content: "";
      position: fixed;
      pointer-events: none;
      
      width: 100vw;
      height: 100vh;
      
      top: 0px;
      left: 0px;
      
      background-color: #000000; !important;
      opacity: 0.5;
      backdrop-filter: blur(300px);
    }
  }
}

/* animate */

#urlbar {
  margin-top: 0 !important;
  transition: margin-top 0.45s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

#urlbar[breakout-extend] {
  width: 100vw !important;
  position: absolute !important;
  margin-top: 10vh !important;
  /* margin-left: 8vw !important; */
  z-index: 9999 !important;
  transition: margin-top 0.45s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  max-width: 70vw !important;
  /* backdrop-filter: blur(8px) !important; */
  background: rgba(0, 0, 0, 0) !important;
  /* border-radius: 20px; */
}

#urlbar[breakout-extend] #urlbar-background {
  background: var(--toolbar-field-focus-background-color) !important;
  transition: all 0.1s linear !important;
}
