[Unit]
Description=Lock screen before suspend
Before=sleep.target

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStart=/home/laura/.local/bin/locker
ExecStartPost=/bin/sleep 1

[Install]
WantedBy=suspend.target
